@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

.purple_rect {
    width: 1120px;
    background-color: #7563BD;
    height: 1100px;
}

.rect2 {
    height: 636px;
    width: 760px;
    position: absolute;
    top: 272px;
    left: 100px;
    background-color: white;
}

.purple_rect p {
    font-family: 'Gluten', sans-serif;
    font-size: 150px;
    color: white;
    position: relative;
    top: 80px;
    left: 350px;
}

.ssistant {
    display: inline;
    font-family: 'Gluten', sans-serif;
    font-size: 150px;
    color: #7563BD;
    position: absolute;
    top: 80px;
    left: 1120px;
}

.stud_img {
    background-image: url(/src/assets/studentass1.png);
    background-size: 950px 636px;
    height: 636px;
    position: absolute;
    top: 272px;
    left: 860px;
    width: 950px;
}

.signup {
    font-family: 'Gluten', sans-serif;
    font-size: 90px;
    color: #8991E4;
    margin-top: 100px;
    height: 90px;
    margin-left: 200px;
}

.rect2 form input {
    border: 0;
    outline: 0;
    background-color: #d9d9d9;
    color: #646060;
    height: 60px;
    margin-top: 20px;
    border-radius: 20px;
    width: 450px;
    margin-left: 120px;
    font-size: 20px;
    padding-left: 40px;
    font-family: 'Faustina', sans-serif;
}

.submitbtn {
    border: 0;
    outline: 0;
    background-color: #d9d9d9;
    color: #646060;
    font-weight: bolder;
    height: 60px;
    width: 170px;
    border-radius: 40px;
    margin-left: 150px;
    margin-top: 40px;
    margin-right: 20px;
    font-size: 30px;
    font-family: 'Faustina', sans-serif;
    text-align: center;
    cursor: pointer;
}

.loginbtn2 {
    border: 0;
    outline: 0;
    background-color: #8991e4;
    color: white;
    font-weight: bolder;
    height: 60px;
    width: 170px;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Faustina', sans-serif;
    text-align: center;
    cursor: pointer;
}

.loginbtn2 a {
    text-decoration: none;
    color: white;
}

.login {
    font-family: 'Gluten', sans-serif;
    font-size: 90px;
    color: #8991e4;
    margin-top: 100px;
    height: 90px;
    margin-left: 200px;
}

.forgot {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    margin-left: 200px;
    margin-top: 20px;
    color: #646060;
    font-family: 'Faustina', sans-serif;
}


#clickhere {
    color: #8991e4;
    font-weight: bolder;
    text-decoration: underline;
}

.signupbtn {
    border: 0;
    outline: 0;
    background-color: #d9d9d9;
    color: #646060;
    font-weight: bolder;
    height: 60px;
    width: 170px;
    border-radius: 40px;
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 30px;
    font-family: 'Faustina', sans-serif;
    text-align: center;
    cursor: pointer;
}

.signupbtn a {
    text-decoration: none;
    color: #646060;
}

.loginbtn {
    border: 0;
    outline: 0;
    background-color: #8991e4;
    color: white;
    font-weight: bolder;
    height: 60px;
    width: 170px;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Faustina', sans-serif;
    text-align: center;
    cursor: pointer;
}

* {
    margin: 0;
    box-sizing: border-box;
    border: 0;
}


.forgotpsswrd {
    height: 600px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.forgottext {
    font-family: 'Gluten', sans-serif;
    font-size: 60px;
    color: #8991E4;
    text-align: center;
    margin-top: 80px;

}

.forgotpsswrd input {
    border: 0;
    outline: 0;
    background-color: #d9d9d9;
    color: #646060;
    height: 80px;
    margin-top: 40px;
    border-radius: 20px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-left: 40px;
    font-family: 'Faustina', sans-serif;
}

.B2loginbtn {
    border: 0;
    outline: 0;
    background-color: #d9d9d9;
    color: #646060;
    font-weight: bolder;
    height: 60px;
    width: 300px;
    border-radius: 40px;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Faustina', sans-serif;
    text-align: center;
    cursor: pointer;

}

.resetbtn {
    border: 0;
    outline: 0;
    background-color: #8991E4;
    color: white;
    font-weight: bolder;
    height: 60px;
    width: 300px;
    border-radius: 40px;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Faustina', sans-serif;
    text-align: center;
    cursor: pointer;
}

a {
    margin-left: auto;
    margin-right: auto;
}

.changepsswrdnavbar {
    height: 100px;
    background-color: #7563BD;

}

.changepsswrdnavbar p {
    color: white;
    font-family: 'Gluten', sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}

.passwordupdates {
    height: 450px;
    width: 650px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.passwordupdates input {
    border: 0;
    outline: 0;
    background-color: #d9d9d9;
    color: #646060;
    height: 60px;
    margin-top: 30px;
    border-radius: 20px;
    width: 450px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    padding-left: 30px;
    font-family: 'Faustina', sans-serif;
}

button {
    border: 0;
    outline: 0;
    background-color: #8991E4;
    color: white;
    font-weight: bolder;
    height: 60px;
    width: 170px;
    border-radius: 40px;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    font-size: 30px;
    font-family: 'Faustina', sans-serif;
    text-align: center;
    cursor: pointer;

}